@font-face {
  font-family: cardenio;
  src: url(medel.ttf);
}

@media print { .noprint { display: none; } }
@media screen{ .noscreen { display: none; } }

body{
  background-color:white;

  min-width:900px;
  margin:0;
  padding:0;
}

a{
  padding:0;
  margin:0;

  color:inherit;

  text-decoration:none;
  transition:0.1s;
  cursor: pointer;
}
a:hover{ color:#660066; }

h1, h2, h3, h4{
  display:inline-block;
  padding:0;
  margin:0;

  font-family: cardenio;
  color:black;
}

h1{	font-size:4em; }
h2{	font-size:3em; }
h3{	font-size:2em; }
h4{
  font-size:1.5em;
  line-height:1em;
}

table{
  background-color: rgba(0,0,0,0.9);
  color:white;
  font-family:verdana;
  position: absolute;
  bottom:0;
  left:0;
  right: 0;
}
td{ padding: 1.5em; }

img{
  display:block;
}
.horizontal_line{
  width:inherit;
  height:1em;
  background-color:black;
  z-index:1;
}

.background{
  position:fixed;
  width:100%;
  height:100%;
  margin:0;
  z-index:-1;
  color:blue;
}

.title{
  padding: 0 0 0 0.5em;
  cursor:default;
}
.menu_items{
  float:right;
  padding:0.5em 1em 0 0;
}

.spacer{
  height:20px;
}

.content{
  width:95%;
  max-width:900px;
  margin:0 auto;
  padding:0;
}

.sl-game,.sl-app,.sl-resume{
  position: relative;
}

.footer{
  margin: 0 auto;
  padding: 20px 0;
  width:inherit;
  text-align:center;
}
